.landing-wrapper {
  display: flex;
  padding-right: 5%;
  padding-left: 10%;
}

.landing-wrapper .title {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 4.3vw;
  line-height: 110%;
  margin-top: 12%;

  display: flex;
  align-items: center;

  color: #212353;
}

.landing-wrapper .content {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 160%;
  width: 350px;
  color: #4b5d68;
}

.landing-wrapper .custom-button {
  margin-top: 12%;
}

.landing-wrapper img {
  width: 500px;
}
