.custom-button {
  width: 199px;
  height: 45px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.custom-button span {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 1.1vw;
  line-height: 160%;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.custom-button svg {
  width: 25px;
  height: 25px;
  color: #ffffff;
  margin-right: 10px;
}
